
body {
    background-color: rgb(202, 218, 241);
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    background-color: rgb(208, 253, 255);
}

.done {
    text-decoration: line-through;
    color: darkorchid;
}